<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>okafw</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body>
    <h1>hello</h1>
    <a href="{{ url_for('logout') }}" class="btn btn-outline btn-primary">Primary</a>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="alert" role="alert" class="alert alert-success">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 shrink-0 stroke-current"
                fill="none"
                viewBox="0 0 24 24">
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>{{ messages }}</span>
        </div>
        <script>
            setTimeout(function() {
                    document.getElementById('alert').style.display = 'none';
            }, 1500);
        </script>
    {% endif %}
{% endwith %}
</body>
</html>