<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

</head>
<body class="selection:bg-teal-200 selection:text-slate-800 dark:bg-slate-800">
    
    <!-- Navbar Start -->
    <header class="bg-transparent dark:bg-slate-800 dark:bg-opacity-50 absolute top-0 left-0 w-full flex items-center z-10">
        <div class="container">
            <div class="flex items-center justify-between relative">
                <div class="px-4">
                    <a href="#hero" class="font-bold text-teal-400 text-lg block py-6">pTsD</a>
                </div>
                <div class="flex items-center px-4">
                    <button id="hamburger" name="hamburger" type="button" class="block absolute right-4 lg:hidden">
                        <span class="hamburger-line origin-top-left transition duration-300 ease-in-out"></span>
                        <span class="hamburger-line transition duration-300 ease-in-out"></span>
                        <span class="hamburger-line origin-bottom-left transition duration-300 ease-in-out"></span>
                    </button>

                    <nav id="nav-menu" class="hidden absolute py-5 bg-white dark:shadow-lg dark:shadow-teal-100/40 lg:dark:shadow-none max-w-[250px] w-full shadow-lg rounded-b-lg right-4 top-full lg:max-w-full lg:block lg:static lg:bg-transparent lg:dark:bg-transparent lg:shadow-none lg:rounded-none">
                        <ul class="block lg:flex lg:bg-transparent lg:dark:bg-transparent ">
                            <li class="group">
                                <a href="#hero" class="text-base text-slate-800 dark:text-slate-800 lg:dark:text-teal-300 font-semibold py-2 mx-8 flex group-hover:text-teal-500">Beranda</a>
                            </li>
                            <!-- <li class="group">
                                <a href="#about" class="text-base text-slate-800 dark:text-slate-800 lg:dark:text-teal-300 font-semibold py-2 mx-8 flex group-hover:text-teal-500">Tentang Saya</a>
                            </li> -->
                            <li class="group">
                                <a href="#howitworks" class="text-base text-slate-800 dark:text-slate-800 lg:dark:text-teal-300 font-semibold py-2 mx-8 flex group-hover:text-teal-500">Cara Kerja</a>
                            </li>
                            <li class="group">
                                <a href="#about" class="text-base text-slate-800 dark:text-slate-800 lg:dark:text-teal-300 font-semibold py-2 mx-8 flex group-hover:text-teal-500">Layanan Kami</a>
                            </li>
                            <li class="group">
                                <a href="#contact" class="text-base text-slate-800 dark:text-slate-800 lg:dark:text-teal-300 font-semibold py-2 mx-8 flex group-hover:text-teal-500">Kontak</a>
                            </li>
                            <li class="flex items-center py-2">
                                <div class="flex ml-24 mr-4">
                                    <!-- <span class="text-sm text-slate-400 dark:text-slate-800 lg:dark:text-slate-200 mr-2">light</span> -->
                                    <input type="checkbox" id="dark-toggle" class="hidden">
                                    <label for="dark-toggle">
                                        <div class="w-12 h-5 bg-slate-500 dark:bg-teal-400 dark:ring-2 dark:ring-teal-100 dark:ring-inset cursor-pointer rounded-full flex items-center py-3 px-1">
                                            <div class="w-4 h-4 bg-white dark:bg-teal-100 rounded-full toggle-c transition duration-300 ease-in-out"></div>
                                        </div>
                                    </label>
                                    <!-- <span class="text-sm text-slate-400 dark:text-slate-800 lg:dark:text-slate-200 ml-2">dark</span> -->
                                </div>
                            </li>
                            <li class="group py-2">
                                <a href="#" class="text-base font-semibold text-dark dark:text-white dark:hover:text-teal-400 bg-transparent hover:bg-white hover:text-teal-400 hover:shadow-lg hover:shadow-teal-500/50  hover:ring-0 py-2 px-4 rounded-md transition duration-300 ease-in-out">Masuk</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Navbar End -->

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script>
        // Navbar Fixed
        window.onscroll = function() {
            const header = document.querySelector('header');
            const toTop = document.querySelector('#to-top');
            const fixedNav = header.offsetTop;

            if (window.pageYOffset > fixedNav) {
                header.classList.add('navbar-fixed');
                toTop.classList.remove('hidden');
                toTop.classList.add('flex');
            } else {
                header.classList.remove('navbar-fixed');
                toTop.classList.remove('flex');
                toTop.classList.add('hidden');
            }
        };


        //Hamburger Menu
        const hamburger = document.querySelector('#hamburger');
        const navMenu = document.querySelector('#nav-menu');

        hamburger.addEventListener('click', function() {
            hamburger.classList.toggle('hamburger-active');
            navMenu.classList.toggle('hidden');
        });

        window.addEventListener('click', function (e) {
            if(e.target != hamburger && e.target !== navMenu) {
                hamburger.classList.remove('hamburger-active');
                navMenu.classList.add('hidden');
            }
        });

        // Dark Mode
        const checkbox = document.querySelector('#dark-toggle');
        const html = document.querySelector('html');

        checkbox.addEventListener('click', function (){ 
            // const html: HTMLHtmlElement
            checkbox.checked ? html.classList.add('dark') : html.classList.remove('dark');
        });
    </script>
</body>
</html>