{% extends 'base.html' %}
{% block content %}

    <!-- Hero Section Start -->
    <section id="hero" class="pt-36">
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
            <div class="text-center lg:w-2/3 w-full">
                <h1 class="font-bold text-3xl text-slate-900 dark:text-white py-2 md:text-4xl">Post-Traumatic Stress Disorder
                <br><span class="italic">(pTsD) </span>Test </h1>
                <p class="my-8 dark:text-slate-400 leading-relaxed ">Tanda-tanda PTSD meliputi ketakutan dan kengerian yang terus-menerus, ingatan yang mengganggu, kilas balik, kewaspadaan berlebihan, penghindaran, dan insomnia, dan lain-lain. Tidak semua orang yang mengalami trauma akan mengalami PTSD, tetapi beberapa orang mengalaminya—dan menyelidiki gejala-gejalanya adalah langkah pertama untuk mendapatkan pengobatan. Mengikuti tes ini dapat membantu.</p>
              <div class="flex justify-center">
                <a class="btn btn-sm btn-accent cursor-default font-bold text-white">20 Pertanyaan</a>
                <a class="btn btn-sm btn-warning cursor-default font-bold text-white ml-5">5 menit</a>
              </div>
            </div>
          </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Section Start -->
    <section class="text-gray-600 body-font py-24" id="about">
        <div class="container">
            <div class="w-full p-4">
                <div class="mx-auto mb-4 max-w-2xl text-center">
                    <h4 class="mt-4 text-lg font-semibold lg:text-md text-center text-slate-600 dark:text-slate-400 selection:bg-teal-100 selection:text-slate-800">Dengan menggunakan kunci di bawah ini, jawablah pertanyaan berdasarkan seberapa kuat Anda setuju atau tidak setuju dengan pernyataan tersebut.</h4>
                </div>
                <div class="mx-auto mb-16 max-w-2xl text-center">
                    <div class="w-full mb-8 flex flex-row justify-between gap-2 py-2 px-4 bg-teal-400 rounded-lg">
                        <span class="font-bold text-3xl text-slate-900 dark:text-white py-2 md:text-lg">Tidak Setuju</span>
                        <span class="font-bold text-3xl text-slate-900 dark:text-white py-2 md:text-lg">Netral</span>
                        <span class="font-bold text-3xl text-slate-900 dark:text-white py-2 md:text-lg">Setuju</span>
                    </div>

                    <form method="POST" action="/submit-test">
                    {% for question in questions %}
                        <div class="w-full flex flex-col justify-between gap-2 py-2 px-4  rounded-lg">
                            <h6 class="font-bold text-3xl text-slate-900 dark:text-white py-2 md:text-lg">{{ loop.index }}. {{ question[1] }}</h6>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Tidak Setuju</span>
                                    <input type="radio" name="q{{ question[0] }}" value="disagree" class="radio checked:bg-red-500" checked="checked" />
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Netral</span>
                                    <input type="radio" name="q{{ question[0] }}" value="neutral" class="radio " checked="checked" />
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Setuju</span>
                                    <input type="radio" name="q{{ question[0] }}" value="agree" class="radio checked:bg-blue-500" checked="checked" />
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="divider"></div>
                    <button type="submit" class="text-base font-semibold text-white bg-teal-500 py-3 px-8 rounded-md hover:shadow hover:bg-teal-400 transition duration-300 ease-in-out select-none">Lihat Skor</button>
                    </form>
                </div>
            </div>
            
        </div>
    </section>
    <!-- About Section End-->

{% endblock %}